@model shauli.Models.Post

@{
 //   ViewData["Title"] = "Index";
}

<h2>Manage Post</h2>
<style>
table, th{
    overflow-x:auto;
                 text-align: left;
                      border: 1px solid black;
                      width:585px;
    }
 td:hover {background-color: #f5f5f5}
</style>
    <table>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostAuthorName)
            </td>

            <td>
                <a asp-action="EditPost" asp-route-id="@item.PostID">Edit</a> |
                <a asp-action="PostDetails" asp-route-id="@item.PostID">Details</a> |
                <a asp-action="DeletePost" asp-route-id="@item.PostID">Delete</a>
                <a asp-action="GetPostComments" asp-route-id="@item.PostID">Comments</a>
            </td>
        </tr>
    </table>
<a asp-action="Create">Add New Post</a>
